<nav class="navbar">
    <a class="logo" href="/index.html" aria-label="Перейти на главную страницу">
        <img class="logo-image" src="/static/images/logo.png" alt="Название проекта" />
    </a>
    <ul class="nav-links">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/static/html/articles.html">Статьи</a></li>
        <li><a href="/index.html#templatesSection">Шаблоны документов</a></li>
        <li><a href="/index.html#storiesSection">Истории из жизни</a></li>
        <li><a href="/index.html#faqSection">Вопросы и ответы</a></li>
    </ul>
</nav>